<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="footer" th:fragment="footer" style="background-color:black; color:white;">
        <footer class="page-footer font-small cyan darken-3">
            <div class="footer-copyright text-center py-3">
                티켓타카 컴퍼니<br>
                본사 : 서울특별시 강서구 양천로 485, 101호 (01234) /
                전화번호 : 02) 333-3333 /
                대표 : 홍세영<br>
                ⓒTICKETtaca All Rights Reserved
            </div>
        </footer>
    </div>
</html>