* {
    margin: 0px;
    box-sizing: border-box;
    /* display: flex; */
}

.background{
    background-image: url('/img/background.png');
    width: 1024px;
    height: 600px;
    padding: 20px 0px 0px 20px;
}

.outerbox {
    background-image: url('/img/outerbox.png');
    width: 808px;
    height: 544px;
}

.wrapper {
     display: flex;
     flex-direction: row;
     padding: 32px 0px 0px 32px;
}
