<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
        .carousel-inner > .item {
            height: 350px;
        }
        .margin{
            margin-bottom:30px;
        }
        .banner{
            height: 300px;
            position: absolute; top:0; left: 0;
            width: 100%;
            height: 100%;
        }
        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchSellStatus = $("#searchSellStatus").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/item/all/" + page + "?searchDateType=" + searchDateType
            + "&searchSellStatus=" + searchSellStatus
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
        }

    </script>
</th:block>




<div layout:fragment="content">

  <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
  <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
    <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + ' 검색 결과'"></p>
  </div>

  <div class="row">
    <th:block th:each="item, status: ${items.getContent()}">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card text-center" style="width: 35em;">
          <a th:href="'/item/' +${item.id}" class="text-dark">
            <img th:src="${item.imgUrl}" class="card-header" th:alt="${item.itemNm}" height="400" style="width: 30em;">
            <div class="card-body">
              <h4 class="card-title ">[[${item.itemNm}]]</h4>
              <p class="card-text">[[${item.price}]] 원</p>
              <p class="card-text">[[${item.itemDetail}]]</p>
            </div>
          </a>
        </div>
      </div>
    </th:block>
  </div>

  <div style="height: 4.6em;"></div>

  <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
    <ul class="pagination justify-content-center">

      <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
        <a th:href="@{'/item/all/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}" aria-label='Previous' class="page-link">
          <span aria-hidden='true'>Previous</span>
        </a>
      </li>

      <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
        <a th:href="@{'/item/all/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
      </li>

      <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
        <a th:href="@{'/item/all/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
          <span aria-hidden='true'>Next</span>
        </a>
      </li>

    </ul>
  </div>


</div>
