.page__form{
    width : 90vw;
    margin : 20px 0;
    display : inline-block;
}

/*
.content-tr{
    height : 30vw;
}
*/

tr{
    text-align : center; }

.table {
    font-size : 0.9em;
     color : #5d5d5d;
}