.page__form{
    width : 60vw;
    margin : 20px 0;
    display : inline-block;
}
tr{
    text-align : center; }

.table {
    font-size : 0.9em;
     color : #5d5d5d;
}
.btn { font-size : 0.8em; }
.content-td{
    text-align : left;
}