
a:hover   {
        text-decoration : none;
        font-weight: bold;
}

.content__all {
      width : 100vw;
      height : 100%;
      text-align : center;
       position: absolute;
          left: 0px;
          top : 160px;
       /*border : 1px solid red;*/
}
#page__title{
    width : 100%;
    height : 55px;
    text-align : center;
    padding-top : 10px;
    font-size : 1.3em;
    color : #ffffff;
    background-color : #000042;
    /*border : 1px solid black;*/
}

#buttonBlock { text-align : left; }