
.page__form{
    width : 90vw;
    margin : 20px 0;
    display : inline-block;
}

.table {
    font-size : 0.9em;
    color : #5d5d5d;
}
td { height : 47px; }

td>a{ color : #5d5d5d; }
.buttonBlock { text-align : right; }

.btn-secondary{
    background-color : #000042;
    font-size : 0.8em;
}
.btn-danger {
    font-size : 0.8em;
}

.preAndNextBtn {
    font-size : 0.8em;
}

.page-link {
    border : none;
    color : #000042;
}

.page-item.active .page-link{
    background-color : #000042;
    border-color : #000042;
}