/* content 영역 */
/* leftSide 없이 content가 전체영역일 때 */
.content {
    width: 725px;
    height: 445px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;

    position: absolute;
    top:90px;
    left:53px;
}