/* 왼쪽 영역 */
/* 위치조정을 위한 값들만 수정함 */
.wrapper__left {
    width: 208px;
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 3px;
    margin-right: 7px;

    float: left;

    position: absolute;
     top: 90px;
}

/* 왼쪽 영역 - 헤더(투데이 카운터) */
/* header로 옮김 */

/* 왼쪽 영역 - 바디(프로필) */
.wrapper__left__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 30px 0px 30px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
}

.left__body__header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left__body__header__gray {
    width: 148px;
    height: 133px;
    background-color: gray;
}

.left__body__header__line {
    border-top: 1px dotted black;
    margin: 12px 0px;
}

.left__body__profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile__detail {
    color: #999999;
    font-size: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.fas {
    color: black;
    margin-right: 10px;
    width: 5px;
    height: 5px;
}

.left__body__footer {
    width: 100%;
    margin-bottom: 30px;
}

.wrapper__feel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.feel__title {
    font-size: 11px;
    margin-bottom: 5px;
    color: gray;
}