.page__form{
    width : 90vw;
    margin : 20px 0;
    display : inline-block;
}

.tdStyle{
    height : 200px;
}

/* 제품 이미지 */

.repImgWrap{
    width : 100px;
    height : 100px;
}
.repImg{
    width : 100px;
    height : 100px;
}