<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">

    $(document).ready(function(){
        $("#searchBtn").on("click", function(e) {
            e.preventDefault(); //검색버튼 클릭시 form 태그 전송을 막아줌
            page(0);
        });
    });

    function checkAll(){
            if($("#checkall").prop("checked")){
                $("input[name=noticeCheckBox]").prop("checked",true);
            }
            else{
                $("input[name=noticeCheckBox]").prop("checked",false);
            }
    };

  function page(page){
        location.href="/notice/list/"+page;
  };

    function modifyNotice(){

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var url = "/admin/notice/hidden";
        console.log(url);

        var dataList = new Array();
        var paramData = new Object();

        $("input[name=noticeCheckBox]:checked").each(function(){

        var noticeId = $(this).val();
        console.log('notice Id.val() : '+noticeId);

        var data = new Object();

        data["noticeId"] = noticeId;
        console.log('notice Id : '+noticeId);

        dataList.push(data);

        });

        paramData['noticeDeleteDtoList']=dataList;

        var param = JSON.stringify(paramData);

        $.ajax({

            url : url,
            type : "DELETE",
            contentType : "application/json",
            data : param,
            beforeSend : function(xhr){
                  xhr.setRequestHeader(header, token);
            },
            dataType : "json",
            cache : false,
            success : function(result, status){
                if(result!=null){
                alert('게시글이 삭제 되었습니다.');
                location.href="/notice";
                }
            },
            error : function(jqXHR, status, error){
                        alert(jqXHR.responseText);

            }
        });


    }



    </script>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/contentLayout.css">
    <link rel="stylesheet" href="/css/notice/notice.css">
    <style>
    </style>
</th:block>

<div layout:fragment="content">
    <div class="content__all">
        <div class="page__title__wrap">
            <div class="page__title">
                <p class="pageTitle">공지사항</p>
            </div>
        </div>
        <div class="page__body__wrap">
            <div class="page__body">
                <form class="page__form">
                    <table class="table" th:action="@{'/notice/'+${notices.number}}" role="form" method="get" th:object="${notices}">
                        <thead>
                        <tr>
                            <td sec:authorize="hasRole('ADMIN')" width="5%">
                                <input type="checkbox" id="checkall" onclick="checkAll()">
                            </td>
                            <td width="10%">No.</td>
                            <td width="12%">카테고리</td>
                            <td width="13%">구단</td>
                            <td width="40%">제목</td>
                            <td width="20%">등록일</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="notice : ${notices}">
                            <td sec:authorize="hasRole('ADMIN')">
                                <input type="checkbox" id="noticeCheckList" name="noticeCheckBox" th:value="${notice.id}"></td>
                            <td th:text="${notice.id}"></td>
                            <td th:text="${notice.noticeType == T(com.baseballshop.constant.NoticeStatus).NOTICE} ? '공지사항' : '이벤트' "></td>
                            <td th:text="${notice.team.title}"></td>
                            <td><a th:href="@{/notice/{id}(id=${notice.id})}" th:text="${notice.noticeTitle}"></a></td>
                            <td th:text="${#temporals.format(notice.createTime, 'yyyy/MM/dd HH:mm')}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="pagingWrap">
                        <div id="paging">
                            <div th:with="start=${(notices.number/maxPage)*maxPage +1}, end=(${(notices.totalPages == 0) ? 1:(start+(maxPage-1) < notices.totalPages ? start + (maxPage -1) : notices.totalPages)})">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" th:classappend="${notices.first}?'disabled'">
                                        <a th:onclick="'javascript:page('+${notices.number - 1} + ')'" aria-label='Previous' class="page-link">
                                            <span class="preAndNextBtn" aria-hidden="true">◀︎</span>
                                        </a>
                                    </li>

                                    <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}" th:classappend="${notices.number eq page-1}?'active':''">
                                        <a th:onclick="'javascript:page('+${page -1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                                    </li>

                                    <li class="page-item" th:classappend="${notices.last}?'disabled'">
                                        <a th:onclick="'javascript:page(' + ${notices.number + 1} + ')'" aria-label="Next" class="page-link">
                                            <span class="preAndNextBtn" aria-hidden="true">▶︎</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')" class="buttonBlock">
                        <th:block>
                            <button type="button" class="btn btn-secondary" onclick="location.href='/admin/notice/new'"> 글쓰기</button>
                            <button type="button" class="btn btn-danger" id="deleteBtn" onclick="modifyNotice()">삭제</button>
                        </th:block>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>