<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/community/community.css"></link>
  <style>
  </style>
</th:block>

<div layout:fragment="content">
  <div class="content__all">
    <div id="page__title">
      <p id="itemListTitle" th:text="커뮤니티"></p>
    </div>

</div>


</html>