.page__form{
    width : 90vw;
    min-width : 90vw;
    margin : 20px 0;
    display : inline-block;
}

.table {
    width : 100%;
    font-size : 0.9em;
    color : #5d5d5d;
    border-top : 1px solid #dee2e6;
    border-bottom : 1px solid #dee2e6;
}
a{
    color : #5d5d5d;
}
.btn-secondary {
    background-color : #000042;
    font-size : 0.8em;
}

.tdStyle{
    height : 150px;
}

.repImg {
    width : auto;
    height : 100px;
}


.itemEachName-area {
    float : center;
    width : 270px;
    overflow : hidden;
    text-overflow:ellipsis;
}
.itemEachCount-area{
    display : flex;
}
.itemEachCount-all-area{
    float : center;
}

.inputCount-area{
    width : 50px;
}