.page__form{
    width : 90vw;
    margin : 20px 0;
    display : inline-block;
}

.btnArea {
    float : left;
}

.searchBar{
    float : right;
    margin-bottom : 10px;
}


.table {
    font-size : 0.9em;
    color : #5d5d5d;
}

td>a{
    color : #5d5d5d;
}

.preAndNextBtn {
    font-size : 0.8em;
}

.page-link {
    border : none;
    color : #000042;
}

.page-item.active .page-link{
    background-color : #000042;
    border-color : #000042;
}