/*
*,
*::before,
*::after {
  box-sizing: content-box;
}
*/

a:hover   {
        text-decoration : none;
        font-weight: bold;
}

.content__all {
      width : 100vw;
      height : 100%;
      text-align : center;
       position: absolute;
          left: 0px;
          top : 160px;
       /*border : 1px solid red;*/
}
#page__title{
    width : 100%;
    height : 55px;
    text-align : center;
    padding-top : 10px;
    font-size : 1.3em;
    color : #ffffff;
    background-color : #000042;
    /*border : 1px solid black;*/
}

#leftSideMenu {
    display : inline-block;
    text-align : center;
    width : 18%;
    position : absolute;
        left : 0px;
        top : 100px;
    /*border : 1px solid orange;*/
}
#teamListWrap {
    width : 80%;
    display : inline-block;
    text-align : left;
}

.no_dot { list-style-type : none; }
.no_dot>li, .no_dot>li>a, .no_dot>li>p>a  {
    margin : 5px;
    color : #5D5D5D;
    text-decoration : none;
    font-size : 0.9em;
}

#teamList {
    width : 100%;
    display : inline-block;
    padding-top : 20px;
    padding-left : 40px;
    padding-bottom : 20px;
    border-top : 3px solid #eaeaea;
    border-bottom : 3px solid #eaeaea;
}

#rightSideList {
    display : inline-block;
    text-align : center;
    width : 78%;
    position : absolute;
        left : 250px;
        top : 100px;
    /*border : 1px solid orange;*/
}


#itemListContent {
      width : 98%;
      padding : 3px;
      display : inline-block;
      text-align : center;
      /*border : 1px solid black;*/
}

#itemListCardWrapped {
    padding-left : 80px;
    display : inline-block;
    /*border : 1px solid green;*/
}

#itemListCard {
    float : left;
    width : 220px;
    margin : 10px;
    display : inline-block;
    /*border : 1px solid blue;*/
}

#itemListImgWrap {
	width : 200px;
	height : 230px;
	margin : 0 auto;
	border : 1px solid #eaeaea;
}

#itemListImg {
    width : 100%;
    height : 100%;
}

#itemListInfoWrap {
    color : #8C8C8C;
    font-size : 12px;
    margin-top : 10px;
    width : 200px;
    padding : 0 10px;
}

#itemInfoItemName { margin : 0; }

#paging {
    text-align : center;
}