.page__form{
    width : 90vw;
    margin : 20px 0;
    display : inline-block;
}

.btnArea {
    float : right;
}
.btn { font-size : 0.8em; }
.btn-secondary { background-color : #000042; }
.btn-outline-secondary {
    border : 1px solid #ced4da;
     margin-left : 10px;
}
.form-control {
    border : none;
    border-bottom : 1px solid #ced4da;
    border-radius : 0px;
    text-align : center;
    padding-top : 10px;
    font-size : 0.8em;
    color : #ced4da;
}
.searchBar{
    float : right;
    margin-bottom : 10px;
}


.table {
    font-size : 0.9em;
    color : #5d5d5d;
}

td>a{
    color : #5d5d5d;
}

.preAndNextBtn {
    font-size : 0.8em;
}

.page-link {
    border : none;
    color : #000042;
}

.page-item.active .page-link{
    background-color : #000042;
    border-color : #000042;
}