/*
*,
*::before,
*::after {
  box-sizing: content-box;
}
*/

.content__all {
      width : 100vw;
      height : 100%;
      text-align : center;
       position: absolute;
          left: 0px;
          top : 140px;
       /*border : 1px solid red;*/
}

.page__title__wrap {
    display : inline-block;
    text-align : center;
    width : 100%;
}
#page__title{
    width : 90vw;
    height : 65px;
    text-align : center;
    display : inline-block;
    padding-top : 20px;
    font-size : 1.3em;
    border-bottom : 1px solid #eaeaea;
}

#leftSideMenu {
    display : inline-block;
    text-align : center;
    width : 90vw;
    /* position : absolute;
        left : 0px;
        top : 100px;
    border : 1px solid orange; */
}
#teamListWrap {
    width : 100%;
    display : inline-block;
    text-align : center;
}

#teamList {
    width : 100%;
    display : inline-block;
    text-align : center;
    margin-top : 8px;
    margin-bottom : 20px;
    background-color : #eaeaea;
}
.teamListMenu{ display : inline-block; }

.no_dot { list-style-type : none; margin:0; display : flex; }
.no_dot>li, .no_dot>li>a {
    color : #5D5D5D;
    text-decoration : none;
    font-size : 0.9em;
}
.no_dot>li{
    width : 90px;
    height : 30px;
    margin-top : 5px;
}


#rightSideList {
    display : inline-block;
    text-align : center;
    width : 90vw;
    /* position : absolute;
        left : 250px;
        top : 100px;
    border : 1px solid orange; */
}


#itemListContent {
      width : 100%;
      padding : 3px;
      display : inline-block;
      text-align : center;
      /*border : 1px solid black;*/
}

#itemListCardWrapped {
    display : inline-block;
    /*border : 1px solid green;*/
}

#itemListCard {
    float : left;
    width : 220px;
    margin : 10px;
    display : inline-block;
    /*border : 1px solid blue;*/
}

#itemListImgWrap {
	width : 200px;
	height : 230px;
	margin : 0 auto;
	border : 1px solid #eaeaea;
}

#itemListImg {
    width : 100%;
    height : 100%;
}

#itemListInfoWrap {
    color : #8C8C8C;
    font-size : 12px;
    margin-top : 10px;
    width : 200px;
    padding : 0 10px;
}

#itemInfoItemName { margin : 0; }

#pagingWrap{ width : 100%; }
#paging {
    display : inline-block;
    text-align : center;
}