.teamList {
    width : 100%;
    display : inline-block;
    text-align : center;
    margin-top : 20px;
    margin-bottom : 20px;
    border-bottom : 1px solid #eaeaea;
    /* background-color : #eaeaea; */
}
.teamListMenu{ display : inline-block; }

.no_dot { list-style-type : none; margin:0; display : flex; }
.no_dot>li, .no_dot>li>a {
    color : #5D5D5D;
    text-decoration : none;
    font-size : 0.9em;
}
.no_dot>li{
    width : 90px;
    height : 30px;
    margin-top : 5px;
}

#itemListCardWrapped {
    display : inline-block;
    /*border : 1px solid green;*/
}

#itemListCard {
    float : left;
    width : 220px;
    margin : 13px;
    display : inline-block;
    /*border : 1px solid blue;*/
}

#itemListImgWrap {
	width : 200px;
	height : 230px;
	margin : 0 auto;
	border : 1px solid #eaeaea;
}

#itemListImg {
    width : 100%;
    height : 100%;
}

#itemListInfoWrap {
    color : #8C8C8C;
    font-size : 12px;
    margin-top : 10px;
    width : 200px;
    padding : 0 10px;
}

#itemInfoItemName { margin : 0; }

#pagingWrap{ width : 100%; }
#paging {
    display : inline-block;
    text-align : center;
}


.preAndNextBtn {
    font-size : 0.8em;
}

.page-link {
    border : none;
    color : #000042;
}

.page-item.active .page-link{
    background-color : #000042;
    border-color : #000042;
}