<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/contentLayout.css">
    <link rel="stylesheet" href="/css/page/page.css">
    <style>
    </style>
</th:block>

<div layout:fragment="content">
    <div class="content__all">
        <div class="page__title__wrap">
            <div class="page__title">
                <p class="pageTitle">관리자 페이지</p>
            </div>
        </div>
        <div class="page__body__wrap">
            <div class="page__body">
                <div class="imgPage">
                    <div class="imgWrap">
                        <div class="imgWrap1">
                            <div class="imgWrap1-1">
                                <a href="/admin/item/new"><img src="/img/adminAddProduct.png"></a>
                            </div>
                            <div class="imgWrap1-2">
                                <a href="/admin/items"><img src="/img/adminItemList.png"></a>
                            </div>
                        </div>
                        <div class="imgWrap2">
                            <div class="imgWrap2-1">
                                <a href="/admin/orders"><img src="/img/adminOrderlist.png"></a>
                            </div>
                            <div class="imgWrap2-2">
                                <a href="/admin/notice/new"><img src="/img/adminNotice.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>