<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/contentLayout.css">
    <link rel="stylesheet" href="/css/item/itemDtl.css">
    <style>
    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            calculateTotalPrice();
            //수량이 변경될때마다 함수 호출하여 계산
            $("#count").change(function(){

                calculateTotalPrice();
            });

            const button1 = document.getElementById('button1');
            const section1 = document.getElementById('section1');
            button1.addEventListener('click', () => {
            window.scrollBy({top: section1.getBoundingClientRect().top, behavior: 'smooth'});
            });

            const button2 = document.getElementById('button2');
            const section2 = document.getElementById('section2');
            button2.addEventListener('click', () => {
            window.scrollBy({top: section2.getBoundingClientRect().top, behavior: 'smooth'});
            });

            const button3 = document.getElementById('button3');
            const section3 = document.getElementById('section3');
            button3.addEventListener('click', () => {
            window.scrollBy({top: section3.getBoundingClientRect().top, behavior: 'smooth'});
            });
        });

        function calculateTotalPrice(){
            var count = $("#count").val();
            var price = $("#price").val();
            var totalPrice = price*count;
            totalPrice=totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g,',');
            $("#totalPrice").html(totalPrice+'원');
        };

        function order(){
            //csrf 방어를 위한 토큰 및 헤더 선언
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            //url 문자열을 변수에 저장
            var url = "/user/itemdtl/order";

            //상품Id와 주문수량을 키:값 형태로 변수에 저장
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            }

            //JSON 형식으로 변환
            var param = JSON.stringify(paramData);

            //ajax 비동기 통신; 화면 전환 없이 데이터는 추가할 수 있음 (예:댓글);
            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json", /*컨트롤러에 json 형태로 송신*/
                data : param, /*상품Id와 주문수량*/

                beforeSend : function(xhr){ /*전처리 과정*/
                    /*데이터 전송 전에 헤더의 csrf 값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,

                /* 이후 단계는 컨트롤러 및 서버까지 다녀옴 */

                success : function(result, status){
                    alert("주문이 완료되었습니다.");
                    location.href='/user/orderlist';
                },

                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요.');
                        location.href='/members/login';
                    }
                    else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        };

        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var url = "/user/cart";

            var paramData = {
                    itemId  : $("#itemId").val(),
                    count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json",
                data : param,
                beforeSend : function(xhr){
                        xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/user/cart';
                },
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요.');
                        location.href='/members/login';
                    }
                    else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        };
        function qnaMemberCheck(id){
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");

        var url ="/qna/memberCheck/"+id;
        var paramData = { memberCheckId : id, }

        var param = JSON.stringify(paramData);

        $.ajax({
            url: url,
            type : "POST",
            contentType : "application/json",
            data : param,
            beforeSend : function(xhr){
                  xhr.setRequestHeader(header, token);
                  },
              dataType : "json",
              cache : false,
            success : function(result, status){
                  if(result===true){
                  location.href='/qna/detail/'+id;
                  }
                  else{
                  alert('작성자만 확인 가능합니다.');
                  location.href='/qna';
                  }
            },
            error : function(jqXHR, status, error){
                  if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                  }
                  else{
                    alert(jqXHR.responseText);
                  }
            }
        });
    };

  function answerDone(id){
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var url = "/qna/done/"+id;
      var paramData = {
        doneId : id,
      }

      var param = JSON.stringify(paramData);

      $.ajax({
          url : url,
          type : "PUT",
          contentType : "application/json",
          data : param,
          beforeSend : function(xhr){
              xhr.setRequestHeader(header, token);
              },
          dataType : "json",
          cache : false,
          success : function(result, status){
              alert("답변이 완료 되었습니다.");
              location.href='/qna/';
              },
          error : function(jqXHR, status, error){
              if(jqXHR.status == '401'){
                    alert('로그인 후 이용해주세요');
                    location.href='/members/login';
                    }
              else{
                alert(jqXHR.responseText);
                }
          }
      });
  };

  function page(page){
        location.href="/qna/"+page;
  }


    </script>
</th:block>

<div layout:fragment="content">
    <div class="content__all">
        <div class="page__title__wrap">
            <div class="page__title">
                <p class="pageTitle" th:text="${item.itemName}"></p>
            </div>
        </div>
        <div class="page__body__wrap">
            <div class="page__body">
                <input type="hidden" id="itemId" th:value="${item.id}">
                <div class="page__form">
                    <!--상품정보-->
                    <div class="itemInfoAllWrap">
                        <div class="itemInfoAll">
                            <!--이미지 정보-->
                            <div class="repImgDiv">
                                <img th:src="${item.itemImgDtoList[0].imgUrl}" class="rounded repImg"
                                     th:alt="${item.itemName}">
                            </div>
                            <!--텍스트 정보-->
                            <div class="textDiv">
                                <!--판매상태-->
                                <div class="rootArea">
                                    <a th:href="@{/itemSearch/{id}(id=${item.category})}"><span
                                            th:text="${item.category.title}"></span></a> > <span
                                        th:text="${item.team.title}"></span>
                                </div>
                                <div class="badgeNitemNameArea">
                                    <div class="badgeArea">
                                        <span th:if="${item.sellStatus == T(com.baseballshop.constant.SellStatus).SELL}"
                                          class="badge badge-primary"
                                          th:text="${T(com.baseballshop.constant.SellStatus).SELL.title}"> </span>
                                            <span th:unless="${item.sellStatus == T(com.baseballshop.constant.SellStatus).SELL}"
                                                  class="badge badge-danger"
                                                  th:text="${T(com.baseballshop.constant.SellStatus).SOLD_OUT.title}"> </span>
                                    </div>
                                    <!--상품명-->
                                    <div class="titleArea h4 text-left" th:text="${item.itemName}"></div>
                                </div>
                                <hr>
                                <!--가격 및 정보-->
                                <table class="infoTable">
                                    <tr>
                                        <td class="tdMenu">가격</td>
                                        <td class="tdValue"><input type="hidden" th:value="${item.price}" id="price"
                                                                   name="price">
                                            <span th:text="${#numbers.formatInteger(item.price,0,'COMMA')}"></span>원
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdMenu">사이즈</td>
                                        <td class="tdValue">Free / 남녀공용</td>
                                    </tr>
                                    <tr>
                                        <td class="tdMenu">원산지</td>
                                        <td class="tdValue">대한민국</td>
                                    </tr>
                                    <tr>
                                        <td class="tdMenu">배송비</td>
                                        <td class="tdValue">무료배송</td>
                                    </tr>
                                </table>
                                <hr>
                                <!--수량 및 주문총액-->
                                <div class="countNpriceAreaWrap">
                                    <div class="countNpriceArea">
                                        <div class="totalPriceArea align-middle">
                                            <div class="totalPriceText align-middle">수량</div>
                                            <input type="number" name="count" id="count"
                                                   class="form-control align-middle" value="1"
                                                   min="1">
                                            <div class="totalPriceText align-middle">결제금액</div>
                                            <h5 name="totalPrice" id="totalPrice" class="totalPrice align-middle"></h5>
                                        </div>
                                    </div>
                                </div>
                                <!--주문 및 장바구니 버튼-->
                                <div class="cartAndOrderBtnArea">
                                    <div th:if="${item.sellStatus == T(com.baseballshop.constant.SellStatus).SELL}"
                                         class="text-right">
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="addCart()">ADD CART
                                        </button>
                                        <button type="button" class="btn btn-secondary" onclick="order()">BUY NOW
                                        </button>
                                    </div>
                                    <div th:unless="${item.sellStatus == T(com.baseballshop.constant.SellStatus).SELL}"
                                         class="text-right">
                                        <button type="button" class="btn btn-danger btn-lg">SOLD OUT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--상품메뉴-->
                    <div class="itemMenu">
                        <div class="itemMenuBarWrap">
                            <div class="itemMenuBar">
                                <div class="itemMeunIn itemMenuDetail" id="button1">Detail</div>
                                <div class="itemMeunIn itemMenuQna" id="button2">Q&A</div>
                                <div class="itemMeunIn itemMenuShopInfo" id="button3">Information</div>
                            </div>
                        </div>
                        <!--상품관련 상세정보-->
                        <div class="itemInfoDetail">
                            <!--상세정보-->
                            <section class="itemInfoDescription" id="section1">
                                <h6 style="color : #000042;"> - Detail - </h6>
                                <hr style="width:80%;">
                                <div class="itemInfoDexcriptionContent"><p th:text="${item.itemDetail}"></p></div>
                                <div class="itemInfoDescriptionImg">
                                    <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
                                        <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}"
                                             class="rounded mgb-15" width="30%">
                                    </div>
                                </div>
                            </section>
                        </div>

                        <!--문의게시판-->
                        <section class="itemInfoQna" id="section2">
                            <div class="itemInfoQnaWrap">
                                <h6 style="color : #000042;"> - Q & A - </h6>
                                <!--                                <hr style="width:100%;">-->
                                <table class="table" th:action="@{'/qna/'+${qna.number}}" role="form" method="get"
                                       th:object="${qna}">
                                    <thead>
                                    <tr>
                                        <td width="5%">No.</td>
                                        <td width="10%">카테고리</td>
                                        <td width="50%">제목</td>
                                        <td width="10%">작성자</td>
                                        <td width="12%">등록일</td>
                                        <td width="13%">답변</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="qna : ${qna}">
                                        <td th:text="${qna.id}"></td>
                                        <td id="qnaType" th:text="${qna.qnaType.title}"></td>
                                        <td><a th:onclick="|javascript:qnaMemberCheck('${qna.id}')|"
                                               th:text="${qna.qnaTitle}"></a></td>
                                        <td th:text="${qna.qnaMemberId}"></td>
                                        <td th:text="${qna.qnaDate}"></td>
                                        <td>
                                            <div th:if="${qna.qnaType == T(com.baseballshop.constant.QnaStatus).FAQ}"></div>
                                            <div th:unless="${qna.qnaType == T(com.baseballshop.constant.QnaStatus).FAQ}">
                                                <th:block
                                                        th:if="${qna.answerType == T(com.baseballshop.constant.QnaStatus).NOT}">
                                                    <span th:text="${T(com.baseballshop.constant.QnaStatus).NOT.title}"></span><br>
                                                    <button sec:authorize="hasRole('ADMIN')" type="button"
                                                            class="btn btn-secondary btn-qna" th:value="${qna.id}"
                                                            onclick="answerDone(this.value)">답변 완료
                                                    </button>
                                                </th:block>
                                                <th:block
                                                        th:if="${qna.answerType == T(com.baseballshop.constant.QnaStatus).DONE}">
                                                    <p th:text="${T(com.baseballshop.constant.QnaStatus).DONE.title}"></p>
                                                </th:block>
                                            </div>
                                    </tr>
                                    </tbody>
                                </table>
                                <div id="pagingWrap">
                                    <div id="paging">
                                        <div th:with="start=${(qna.number/maxPage)*maxPage +1}, end=(${(qna.totalPages == 0) ? 1:(start+(maxPage-1) < qna.totalPages ? start + (maxPage -1) : qna.totalPages)})">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item" th:classappend="${qna.first}?'disabled'">
                                                    <a th:onclick="'javascript:page('+${qna.number - 1} + ')'"
                                                       aria-label='Previous' class="page-link">
                                                        <span class="preAndNextBtn" aria-hidden="true">◀︎</span>
                                                    </a>
                                                </li>

                                                <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"
                                                    th:classappend="${qna.number eq page-1}?'active':''">
                                                    <a th:onclick="'javascript:page('+${page -1} + ')'" th:inline="text"
                                                       class="page-link">[[${page}]]</a>
                                                </li>

                                                <li class="page-item" th:classappend="${qna.last}?'disabled'">
                                                    <a th:onclick="'javascript:page(' + ${qna.number + 1} + ')'"
                                                       aria-label="Next" class="page-link">
                                                        <span class="preAndNextBtn" aria-hidden="true">▶︎</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div sec:authorize="hasRole('USER')" class="buttonBlock">
                                    <button type="button" class="btn btn-secondary" onclick="location.href='/qna/new'">
                                        문의하기
                                    </button>
                                </div>
                                <div sec:authorize="hasRole('ADMIN')" class="buttonBlock">
                                    <button type="button" class="btn btn-secondary btn-qna"
                                            onclick="location.href='/qna/new'">
                                        FAQ 등록하기
                                    </button>
                                </div>
                            </div>
                        </section>
                        <!--판매정보-->
                        <section class="itemInfoShopInfo" id="section3">
                            <div class="itemInfoShopInfoWrap">
                                <h6 style="color : #000042;"> - Information - </h6>
                                <hr style="width:100%;">
                                <table class="itemInfoShopInfoTable">
                                    <tr>
                                        <td class="tdShopMenu">판매자</td>
                                        <td class="tdShopValue">홈런몰</td>
                                    </tr>
                                    <tr>
                                        <td class="tdShopMenu">고객센터</td>
                                        <td class="tdShopValue">고객센터 게시판<br>geniigrace@naver.com</td>
                                    </tr>
                                    <tr>
                                        <td class="tdShopMenu">운영시간</td>
                                        <td class="tdShopValue">평일 09시 ~ 18시<br>점심시간 : 12시 ~ 13시<br>주말 및 공휴일 휴무</td>
                                    </tr>
                                </table>
                                <h6 style="color : #000042;"> - 반품 및 교환 - </h6>
                                <hr style="width:100%;">
                                <div class="itemInfoShopInfoWrapText">
                                    <p>
                                        반품배송비 : 편도 3,000원<br>
                                        교환배송비 : 4,800원<br>
                                        보내실 곳 : 서울특별시 영등포구 여의대방로
                                    </p>
                                    <p>
                                        반품/교환 시 먼저 판매자와 연락하여 협의 후 반품접수를 해주셔야 하며,
                                        반품접수 없이 임의로 보낼 경우 환불이 불가할 수 있으니 유의하시기 바랍니다.<br>
                                        <br>
                                        1. 구매자 단순 변심은 상품 수령 후 7일 이내(구매자 반품배송비 부담)<br>
                                        2. 표시/광고와 상이, 상품하자의 경우 상품 수령 후 3개월 이내
                                        혹은 표시/광고와 다른 사실을 안 날로부터 30일 이내 (판매자 반품배송비 부담) 둘 중 하나 경과 시 반품/교환 불가
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
