html{
    position: relative;
    min-height: 100%;
    margin: 0;
}
body{
    min-height: 100%;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content{
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu { display : block; margin: 0;}

#hrm-nav-bar { margin : 20px; }

#hrm-menu-bar { margin : 10px; }

#hrm-info {
    margin : 0;
    float : left;
}