html{
    position: relative;
    min-height: 100%;
    margin: 0;
}
.content{
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left : 100px;
    margin-right : 100px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

ul.nav li.dropdown:hover > ul.dropdown-menu { display : block; margin: 0;}

#all__header {
    width : 100vw;
    height : 140px;
    text-align:center;
    /* background-color : yellow; */
}

.topContainer {
    display : inline-block;
    text-align:center;
    width : 100%;
    position : absolute;
        left : 0px;
    /* background-color : skyblue; */
}

.topBar {
    width : 100%;
    display : inline-block;
    text-align : center;
    /* border : 1px solid black;*/
}
#topBarMenu{
    margin-top : 11px;
}
#topBarNav {
    height : 40px;
    margin-top : 21px;
    /* color : #ffffff; */
    background-color : #000042;
}

.topBarContainer {
     display : inline-block;
     text-align : center;
}

.topBarContent {
    width : 90vw;
    display : flex;
    padding-top : 6px;
}

.navbar-brand, #searchBlock {
    margin : 0;
    float : left;
}
.nav-link {
    margin : 0;
    color : #5D5D5D;
    text-decoration : none;
    font-size : 0.9em;
    text-align : right;
}

#hrm-info-user, #hrm-info-admin {
    margin : 0;
    display : inline-block;
}

#welcomeMSG {
    font-size : 0.9em;
}

a {
    color : #5D5D5D;
    text-decoration : none;
    font-size : 0.9em;
}

.text-white>a {
    color : #FFFFFF;
    text-decoration : none;
    font-size : 0.9em;
}