html{
    position: relative;
    min-height: 100%;
    margin: 0;
}
.content{
/*
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left : 100px;
    margin-right : 100px;
    min-height : 100%;
    */
}
.footer {
    position: absolute;
    left: 0;
    bottom: -80%;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color : #ececec;
    color : #5d5d5d;
    font-size :0.8em;
}
.page-footer {
    display:flex;
    height : 100px;
}
.footer-left, .footer-center, .footer-right {
    width : 33.3%;
}
.footer-left-h5{
    margin-bottom:0;
}
.footer-center-text{
    padding-top : 5px;
}
.footer-right-text{
    padding-top : 25px;
}

ul.nav-bar li.dropdown:hover > ul.dropdown-menu { display : block; margin: 0;}

.dropdown-item,
.navbar-brand,
.nav-join,
.nav-myPage,
.nav-adminPage,
.nav-loginout-inner,
.nav-welcome,
.text-white-area {
    color : #5D5D5D;
    text-decoration : none;
    font-size : 0.9em;
}
.nav-welcome-info {
    font-size : 1em;
    text-weight : bold;
}

a:hover{
    text-decoration : none;
    font-weight : bold;
    color : #5D5D5D;
}

.all__header{
    width : 100vw;
    min-width : 100vw;
    height : 140px;
    text-align : center;
}

.nav-top-header{
    width : 100%;
    text-align : center;
    display : inline-block;
}

.nav-top{
    display : inline-block;
}

.nav-top-menu{
    width : 90vw;
    height : 100px;
    display : flex;
}

.nav-logo {
    width : 33%;
    height : 100%;
    float : left;
    padding-top : 10px;
}

.nav-logo>img {
    width : 100%;
    float : left;
}

.nav-search {
    width : 34%;
    padding-top : 40px;
}

.nav-search-input{
    border : none;
    border-bottom : 1px solid #e4e4e4;
    text-align : center;
    width : 250px;
}

.nav-search-btn{
    border : none;
}

.nav-membersmenu{
    width : 33%;
    padding-top : 40px;
}

.nav-bar>li {
    list-style : none;
}

.nav-membersmenu>ul {
    display : flex;
}

.nav-info{
    width : 34%;
}

.nav-page{
    width : 33%;
}

.nav-loginout{
    width : 33%;
}

.nav-welcome-msg{
    font-size : 0.8em;
}

.nav-bottom-header {
    width : 100%;
    height : 40px;
    text-align : center;
    background-color : #ececec;
}

.nav-bottom {
    width : 90vw;
    height : 100%;
    text-align : center;
    display : inline-block;
}
.nav-bottom-menu{
    width : 100%;
    height : 100%;
    display : flex;
    position : relative;
}
.nav-bottom-menu1 {
    width : 70%;
    height : 100%;
    display : flex;
}

.nav-bottom-menu2 {
    width : 20%;
    height : 100%;
    display : flex;
    position : absolute;
        right : 0;
}

.nav-bottom-inmenu1{
    width : 12.5%;
    height : 100%;
    padding-top : 7px;
}

.nav-bottom-inmenu2{
    width : 50%;
    height : 100%;
    padding-top : 7px;
}

.nav-bottom-inmenu1:hover, .nav-bottom-inmenu2:hover{
    background-color : #000042;
    color : #FFFFFF;
}

input::placeholder{
    color : #e4e4e4;
}