.input-group{ margin-bottom : 15px; }

.input-group-text{ width : 90px; height : 100%; }

.fieldError { color : #bd2130; }

#hiddenShowStatus { display : none; }

.page__form{
        width : 90vw;
        margin : 20px 0;
        display : inline-block;
}

.table {
    font-size : 0.9em;
    color : #5d5d5d;
}
td{
    vertical-align : middle;
}


.btn-secondary {
    background-color : #000042;
    font-size : 0.8em;
}


td>a{
    color : #5d5d5d;
}

.preAndNextBtn {
    font-size : 0.8em;
}

.page-link {
    border : none;
    color : #000042;
}

.page-item.active .page-link{
    background-color : #000042;
    border-color : #000042;
}
.buttonBlock{
    float : right;
}